h1 { text-align: center;
    color: red;
    text-shadow: 4px 4px 2px rgb(110, 44, 44);

}

.title{
color: rgb(55, 0, 255);    
}

#italic {
color: orange;
}

nav {
    background-color: rgb(0, 225, 255);
    text-align: center ;
}

.nav-wrapper {
    background-color: rgb(0, 225, 255);
}

a{
    text-decoration-line: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    padding: 30px;
}

.container {
    border: 10px dashed blue;
    margin: 50px 300px 25px 0px;
    padding: 30px 5px 30px 5px;
}

.box {
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px;
}

@keyframes fadeMe {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#box1{
    animation-name: fadeMe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation{
    0% {transform: rotate(0deg);}
    
    100% {transform: rotate(360deg);}
}

#box2{
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes getBigger {
    0%{transform: scale(1);}
    25%{transform: scale(2);}
    50%{transform: scale(1);}
    75%{transform: scale(.5);}
}

#box3{
    animation: getBigger 10s infinite linear;
    border-radius: 50%;
    background: greenyellow;
}

@keyframes changeColor {
    0% {background-color: red;}
    20% {background-color: blue;}
    40% {background-color: yellowgreen;}
    60% {background-color: purple;}
    80% {background-color: aqua;}
    100% {background-color: rgb(217, 255, 1);}
}

#box4 { 
    animation: changeColor 3s infinite ;
}

@keyframes moveBox{
    0% {left: 0px; top: 0px}
    25% {left: 100px; top: 0px}
    50% {left: 100px; top: 100px}
    75% {left: 0px; top: 100px}
    100% {left: 0px; top: 0px}
}

#box5 {
    animation: moveBox 10s infinite linear;
    background-color: orangered;
    position: relative;
}

#box6 {
    top: 10px;
    left: 20px;
    position: relative;
}



.circle-img {
border-radius: 50%;
}

img {
    box-shadow: 8px 8px 10px 8px grey;
}

.flex{
    margin: 30px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}

form input{
    display: block;
    margin: 30px;
}

form textarea{
    display: block;
    margin: 30px;
}

form button{
    display: block;
    margin: 30px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: #444;
}

.Box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;
}

.a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.b {
    grid-column: col 4 / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.c {
    grid-column: col / span  5;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple, orange);
}
.d {
    grid-column: col 1 / span  3;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
}

.e {
    grid-column: col 3/ span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
}

.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(orange, purple, yellow, pink);
}